<h2>Visualization & Statistics</h2>


<h3>Quick Stats:</h3>
<div id="stats">
<div>Total Spent: ${{result}}</div>

<div>Most expensive item: {{item.name}} at ${{item.price}}. wow 😲</div>


<h4>Spending By Category:</h4>
{{#each category}}
<div>{{category}}: ${{totalSum}}</div>
{{/each}}


</div>